<div class="form_center">
    <h3><strong>Sign Up!!</strong></h3>
    <p ng-show="message">{{message}}</p>
    <form name="myForm" ng-submit="register()"
    nonvalidate>
      <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="text" name="firstname" class="form-control" placeholder="Firstname"
        ng-model="user.firstname" ng-required="true">
        <p class="error" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">Please enter firstname</p>
      </div>
      <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="text" name="lastname" class="form-control" placeholder="Lastname"
        ng-model="user.lastname" ng-required="true">
        <p class="error" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">Please enter lastname</p>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" placeholder="Email"
        ng-model="user.email" ng-required="true">
        <p class="error" ng-show="myForm.email.$invalid && myForm.email.$touched">Please enter Vaid Email</p>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Password"
        ng-model="user.password" ng-required="true">
        <p class="error" ng-show="myForm.password.$invalid && myForm.password.$touched">Please enter Password</p>
      </div>
      <div class="form-group">
        <button type="submit" name="submit" class="form-control btn btn-primary">Submit</button>
      </div>
    </form>
</div>
